# Gradle/outputs
.gradle/
build/
out/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Logs
*.log
logs/

# SO
.DS_Store
Thumbs.db

# Binarios/temporales
*.class

# Config local (no versionar)
application.local.conf
.env
.env.*
